body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
        
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) transparent rgb(0, 0, 0) ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation-name: rotation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    /* animation-play-state:paused; */
}

@keyframes rotation {
    from{
        transform:translate(-50%, -50%) rotate(0);
    }
    to{
        transform:translate(-50%, -50%) rotate(360deg);
        
    }
}